@use '@angular/material' as mat;
@import "@angular/material/theming";
@include mat.core();

:root {
  --mat-radius: 4px;

  --mat-primary-font: "Quicksand", sans-serif !important;
  --mat-secondary-font: "Roboto", sans-serif !important;
  --mat-font-size: 14px;

  --mat-text: #505050;
  --mat-text-disabled: #cbcbcb;
  --mat-text-secondary: #{mat.get-color-from-palette(
      mat.$grey-palette,
      600
    )};
  --mat-text-primary: var(--mat-primary);
  --mat-text-accent: var(--mat-accent);
  --mat-text-warn: var(--mat-warn);

  --mat-bg: #ffffff;
  --mat-bar: #ffffff;
  --mat-card: #ffffff;
  --mat-divider: #f3f3f3;
}
