.mat-storybook {
  margin: 30px !important;
}

code {
  font-size: 11px;
  background: #f3f3f3;
  padding: 0 4px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-bottom: 6px;
  display: inline-block;
}
