@use './mat-utilities' as play;

.mat-slide-toggle {
  &:not(.mat-checked) .mat-slide-toggle-bar {
    background-color: var(--mat-divider);
  }

  /* Contained */
  &.contained {
    @each $color in play.$colors {
      &.mat-#{$color} .mat-slide-toggle-thumb {
        background-color: var(--mat-#{$color});
      }
    }

    .mat-slide-toggle-thumb-container {
      top: 1.5px;
      left: 1.5px;

      .mat-slide-toggle-thumb {
        height: 15px;
        width: 15px;
        box-shadow: none;
      }
    }
    .mat-slide-toggle-bar {
      background-color: transparent;
      border: 1px solid var(--mat-divider);
      box-shadow: none;
      height: 18px;
      border-radius: 14px;
    }

    &.mat-checked {
      @each $color in play.$colors {
        &.mat-#{$color} .mat-slide-toggle-bar {
          border-color: var(--mat-#{$color});
        }
      }

      .mat-slide-toggle-bar {
        background-color: transparent;
      }

      .mat-slide-toggle-thumb-container {
        left: 3px;
      }
    }

    .mat-slide-toggle-ripple {
      top: calc(50% - 22px);
      left: calc(50% - 22px);
    }
  }
}
