.mat-table {
  width: 100%;
  border-radius: var(--mat-radius);

  mat-row,
  mat-header-row,
  mat-footer-row,
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-color: var(--mat-divider);
  }

  /* Helper classes */
  &.with-hover {
    .mat-row:hover .mat-cell {
      background: var(--mat-divider);
      cursor: pointer;
    }
  }

  &.striped {
    .mat-row:nth-child(even) {
      background: var(--mat-divider);
    }
  }

  &.header {
    thead {
      background: var(--mat-divider);
    }
  }

  &.text-transform {
    thead th {
      text-transform: uppercase;
      font-size: 11px;
    }
  }
}

mat-accordion {
  mat-row,
  td.mat-cell {
    border: none;
  }
  .mat-expansion-panel {
    border-bottom: 1px solid var(--mat-divider);
  }

  .cdk-column-name {
    font-weight: bold;
  }
}
