@use './mat-utilities' as play;

@mixin spinnerSize($size) {
  height: $size !important;
  width: $size !important;
}

@mixin buttonSize($height, $lineHeight, $font-size) {
  height: $height;
  line-height: $lineHeight;
  font-size: $font-size;
}

.mat-button-base {
  /* Rounded */
  &.round {
    border-radius: 36px;
  }

  /* Loading */
  .mat-progress-spinner {
    display: inline-block;
    margin-right: 6px;
    transform: translate(-1px, -2px);
    @include spinnerSize(18px);

    svg {
      @include spinnerSize(18px);
    }
  }

  /* Colors */
  @each $color in play.$colors {
    &.mat-#{$color} .mat-spinner circle {
      stroke: var(--mat-#{$color});
    }

    &.mat-#{$color}.mat-raised-button,
    &.mat-#{$color}.mat-flat-button {
      .mat-spinner circle {
        stroke: var(--mat-#{$color}-50);
      }
    }
  }

  /* Sizes */
  &.large {
    @include buttonSize(50px, 50px, 16px);
    .mat-progress-spinner {
      @include spinnerSize(22px);
      svg {
        @include spinnerSize(22px);
      }
    }
  }

  &.small {
    @include buttonSize(24px, 21px, 12px);
    .mat-progress-spinner {
      @include spinnerSize(12px);
      svg {
        @include spinnerSize(12px);
      }
    }
  }

  /* Stroked */
  @each $color in play.$colors {
    &.mat-stroked-button.mat-#{$color}:not(.mat-button-disabled) {
      box-shadow: none;
      border: 1px solid var(--mat-#{$color});
    }
  }
}
