@use './utilities' as play;

@mixin spinnerSize($size) {
  height: $size !important;
  width: $size !important;
}

@mixin buttonSize($height, $font-size) {
  height: $height;
  line-height: $height;
  font-size: $font-size;
}

.mat-button-base {
  .mat-progress-spinner {
    display: inline-block;
    margin-right: 6px;
    transform: translate(-1px, -2px);
    @include spinnerSize(18px);

    svg {
      @include spinnerSize(18px);
    }
  }

  @each $color in play.$colors {
    &.mat-#{$color} .mat-spinner circle {
      stroke: var(--playground-#{$color});
    }

    &.mat-#{$color}.mat-raised-button,
    &.mat-#{$color}.mat-flat-button {
      .mat-spinner circle {
        stroke: var(--playground-#{$color}-50);
      }
    }
  }

  &.large {
    @include buttonSize(50px, 16px);
    .mat-progress-spinner {
      @include spinnerSize(22px);
      svg {
        @include spinnerSize(22px);
      }
    }
  }

  &.small {
    @include buttonSize(24px, 12px);
    .mat-progress-spinner {
      @include spinnerSize(12px);
      svg {
        @include spinnerSize(12px);
      }
    }
  }
}
