@use './mat-utilities' as play;

.mat-tooltip {
  background: var(--mat-accent);
  border-radius: 3px;

  @each $color in play.$colors {
    &.#{$color} {
      background: var(--mat-#{$color});
    }
  }
}
